/* ChatRoom.css */
.chat-room {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .chat-list {
    flex: 1;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .chat-list-header {
    font-size: 18px;
    font-weight: bold;
  }
  
  .chat-list-items {
    list-style: none;
    padding: 0;
  }
  
  .chat-item {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .chat-window {
    flex: 3;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .chat-window-header {
    font-size: 18px;
    font-weight: bold;
  }
  
  .chat-window-content {
    /* Tùy chỉnh nội dung đoạn chat */
  }
  

  .chat-name {
    font-size: 4rem; /* Kích thước chữ Four T */
    color: #FF6600; /* Màu chữ Four T */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Đổ bóng chữ Four T */
    margin-bottom: 20px; /* Khoảng cách giữa chữ Four T và các nút */
  }