body {
  margin: 0;
  padding: 0;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #223140; 
  }
  
  .app-name {
    font-size: 4rem; 
    color: #FF6600; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px; 
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
  }
  
  .custom-button {
    width: 100%;
  }
  
  .fbButton {
    background-color: #1877F2;
    border-color: #1877F2;
    width: 100%; 
    margin-bottom: 10;
  }

  .ggButton {
    background-color: white;
    border-color: gray;
    width: 100%;
  }